.gallery {
  height: auto;
  @include media(desktop) {
    height: 100vh;
  }
  &__container {
    max-height: 80vh;
    margin: 0 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 $base-color;
    @include media(horizontal) {
      margin: 0 20px 20px;
    }
    @include media(desktop) {
      margin: 0 70px 30px;
    }
    @include media(desktop-big) {
      margin: 0 150px 50px;
    }
  }
}
